/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 878px) {


	p {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.8em;
		line-height: 1;
	}

	h2 {
		font-size: 2.2em;
		line-height: 1.1;
	}

	h3 {
		font-size: 1.8em;
	}

	.header-col,
	.content-col {
		display: block;
		/* width: 100%; */
	}

	.header-col {
		h1 {
			margin-top: 60px;
			text-align: left;
		}
	}

	.display-table-cell {
		vertical-align: top;
		padding-top: 0;
		text-align: right;
	}

	.display-table-cell p {
		text-align: left;
	}

	.display-table-cell .social-btn {
		text-align: center;
	}

	.content {
		width: 100%;
		font-size: 13px;
	}


	.main-area .desc {
		margin: 0 0 20px;
	}

	#mc_embed_shell {
		padding-bottom: 120px;
	}

}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */


}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {}